.leaflet-container {
  width: 100%;
  min-height: 800px;
}

.map-wrapper {
  width: 80%;
  margin: 0 auto;
}

.cartpage-container {
  display: flex;
  padding: 30px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > div:first-child {
    padding: 20px;
    width: 60%;
    max-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}