.category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  width: 30%;
  height: 320px;

  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 1px 3px 5px black;

  cursor: pointer;

  &:hover {
    background-color: lightgray;
    transition: ease-in-out 0.5s;
  }

  p {
    margin: 0;
    overflow: hidden;
    max-width: 40ch;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
