.page-container {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    width: 90%;
  }
}